<html th:replace="~{layout :: layout(~{::title}, ~{::div})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>One Egg</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="../../scripts/ListEditor.js"></script>
</head>
<body class="body">
<div>

        <form class="form" method="post">
            <textarea name="ingredients-in" rows="10" th:text="${ingredientsIn}"></textarea>
            <button type="submit">Submit</button>
        </form>
        <pre th:text="${ingredientsOut}">1 Ei
1/2 Mehl</pre>
    </div>
</div>
</body>
</html>