<html th:replace="~{layout.html :: layout(~{::title}, ~{::div})}" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>One Egg</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="body">
<div>

    <p class="comment" th:text="#{home.comment}">
        Copy a recipe from your favorite cooking web site to the box below. Let One Egg do the calculations for you.
    </p>
    <form class="form" method="post">
        <p>
            <textarea id="ingredients-in" name="ingredients" rows="10" th:text="${recipe.ingredientsText}"
                      onchange="updateReferenceNames()"
                      onkeyup="updateReferenceNames()"
                      onpaste="setTimeout(function() {updateReferenceNames();}, 0);"
            ></textarea>
        </p>
        <div class="form-row">
            <span th:text="#{home.use}">Use</span>
            <select id="reference-type" name="referenceType" class="reference-type">
            </select>
            <input name="referenceValue" type="number" th:value="${recipe.referenceValue}" value="1" />
            <select id="reference-name" name="referenceName" class="reference-name" onchange="updateReferenceTypes()">
            </select>
        </div>
        <div class="form-row-action">
            <span class="form-action-message" th:if="${sendFailed}" th:text="#{home.sendFailed}"></span>
            <th:block th:if="${authenticated}">
                <label for="save">Save in Sketchbook</label>
                <input type="checkbox" id="save" name="save" />
            </th:block>
            <button type="submit" th:text="#{home.go}">Go!</button>
        </div>
    </form>

    <table th:remove="all-but-first" th:unless="${#lists.isEmpty(newRecipe.ingredients)}">
        <tr th:each="i : ${newRecipe.ingredients}">
            <td th:text="${i.quantity}">12</td>
            <td th:text="${i.productName}">Eier</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Eier</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Eier</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Eier</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Eier</td>
        </tr>
    </table>

    <script th:inline="javascript">
        $(document).ready(function() {
            initSelects(/*[[${recipe.referenceType}]]*/ "EXACT", /*[[${recipe.referenceName}]]*/ "Ei");
        });
    </script>
</div>
</body>
</html>